.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/
content # symlinks are files, so to ignore the file, ignore without trailing slash
.env